# Pandas Merging Tutorial

This tutorial is used in the blog post at www.shanelynn.ie to explain merging of dataframes in python pandas.

In [2]:
# Import
import pandas as pd

In [74]:
user_usage = pd.read_csv("user_usage.csv")
user_device = pd.read_csv("user_device.csv")
devices = pd.read_csv("android_devices.csv")
devices.rename(columns={"Retail Branding": "manufacturer"}, inplace=True)

In [4]:
user_usage.head()

   outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
0                    21.97                    4.82     1557.33   22787
1                  1710.08                  136.88     7267.55   22788
2                  1710.08                  136.88     7267.55   22789
3                    94.46                   35.17      519.12   22790
4                    71.59                   79.26     1557.33   22792

In [5]:
user_device.head()

   use_id  user_id platform  platform_version     device  use_type_id
0   22782    26980      ios              10.2  iPhone7,2            2
1   22783    29628  android               6.0    Nexus 5            3
2   22784    28473  android               5.1   SM-G903F            1
3   22785    15200      ios              10.2  iPhone7,2            3
4   22786    28239  android               6.0  ONE E1003            1

In [6]:
devices.head(10)

,Retail Branding,Marketing Name,Device,Model
0,NaN,NaN,AD681H,Smartfren Andromax AD681H
1,NaN,NaN,FJL21,FJL21
2,NaN,NaN,T31,Panasonic T31
3,NaN,NaN,hws7721g,MediaPad 7 Youth 2
4,3Q,OC1020A,OC1020A,OC1020A
5,7Eleven,IN265,IN265,IN265
6,A.O.I. ELECTRONICS FACTORY,A.O.I.,TR10CS1_11,TR10CS1
7,AG Mobile,AG BOOST 2,BOOST2,E4010
8,AG Mobile,AG Flair,AG_Flair,Flair
9,AG Mobile,AG Go Tab Access 2,AG_Go_Tab_Access_2,AG_Go_Tab_Access_2

## First merge

We're trying to get the average usage figures for different types of devices. So we need to get the user's device code from user_usage as a column on user_usage, and then get the device's manufacturer from devices as a column on the result.

First, we merge user_usage with user_device with "use_id" as our common column

In [7]:
result = pd.merge(user_usage,
                 user_device[['use_id', 'platform', 'device']],
                 on='use_id')
result.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F

While on first glance, this may seem perfect, all is not as it seems.

In [8]:
print("user_usage dimensions: {}".format(user_usage.shape))
print("user_device dimensions: {}".format(user_device[['use_id', 'platform', 'device']].shape))

user_usage dimensions: (240, 4)
user_device dimensions: (272, 3)
result dimensions: (159, 6)

In [9]:
user_usage['use_id'].isin(user_device['use_id']).value_counts()

True     159
False     81
Name: use_id, dtype: int64

## Left merge example

A left merge, or left join, between two dataframes keeps all of the rows and values from the left dataframe, in this case "user_usage". Rows from the right dataframe will be kept in the result only where there is a match in the merge variable in the right dataframe, and NaN values will be in the result where not.

In [16]:
result = pd.merge(user_usage,
                 user_device[['use_id', 'platform', 'device']],
                 on='use_id', how='left')
print("user_usage dimensions: {}".format(user_usage.shape))
print("result dimensions: {}".format(result.shape))
print("There are {} missing values in the result.".format(
        result['device'].isnull().sum()))

user_usage dimensions: (240, 4)
result dimensions: (240, 6)
There are 81 missing values in the result.

In [19]:
result.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F

In [18]:
result.tail()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
235,260.66,68.44,896.96,25008,NaN,NaN
236,97.12,36.50,2815.00,25040,NaN,NaN
237,355.93,12.37,6828.09,25046,NaN,NaN
238,632.06,120.46,1453.16,25058,NaN,NaN
239,488.70,906.92,3089.85,25220,NaN,NaN

## Right merge example

A right merge, or right join, between two dataframes keeps all of the rows and values from the right dataframe, in this case "user_device". Rows from the left dataframe will be kept where there is a match in the merge variable, and NaN values will be in the result where not.

In [21]:
result = pd.merge(user_usage,
                 user_device[['use_id', 'platform', 'device']],
                 on='use_id', how='right')
print("user_device dimensions: {}".format(user_device.shape))
print("result dimensions: {}".format(result.shape))
print("There are {} missing values in the 'monthly_mb' column in the result.".format(
        result['monthly_mb'].isnull().sum()))
print("There are {} missing values in the 'platform' column in the result.".format(
        result['platform'].isnull().sum()))

user_device dimensions: (272, 6)
result dimensions: (272, 6)
There are 113 missing values in the 'monthly_mb' column in the result.
There are 0 missing values in the 'platform' column in the result.

## Outer merge example

A full outer join, or outer merge, keeps all rows from the left and right dataframe in the result. Rows will be aligned where there is shared join values between the left and right, and rows with NaN values, in either the left-originating or right-originating columns will be, will be left in the result where there is no shared join value.

In the final result, a subset of rows should have no missing values. These rows are the rows where there was a match between the merge column in the left and right dataframes. These rows are the same values as found by our inner merge result before.

In [47]:
print("There are {} unique values of use_id in our dataframes.".format(
        pd.concat([user_usage['use_id'], user_device['use_id']]).unique().shape[0]))
result = pd.merge(user_usage,
                 user_device[['use_id', 'platform', 'device']],
                 on='use_id', how='outer', indicator=True)

print("Outer merge result has {} rows.".format(result.shape))

print("There are {} rows with no missing values.".format(
    (result.apply(lambda x: x.isnull().sum(), axis=1) == 0).sum()))

There are 353 unique values of use_id in our dataframes.
Outer merge result has (353, 7) rows.
There are 159 rows with no missing values.

In [48]:
result.iloc[[0, 1, 200,201, 350,351]]

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device,_merge
0,21.97,4.82,1557.33,22787,android,GT-I9505,both
1,1710.08,136.88,7267.55,22788,android,SM-G930F,both
200,28.79,29.42,3114.67,23988,NaN,NaN,left_only
201,616.56,99.85,5414.14,24006,NaN,NaN,left_only
350,NaN,NaN,NaN,23050,ios,"iPhone7,2",right_only
351,NaN,NaN,NaN,23051,ios,"iPhone7,2",right_only

## Final merge - adding device manufacturer

In [78]:
# First, add the platform and device to the user usage.
result = pd.merge(user_usage,
                 user_device[['use_id', 'platform', 'device']],
                 on='use_id',
                 how='left')

# Now, based on the "device" column in result, match the "Model" column in devices.
devices.rename(columns={"Retail Branding": "manufacturer"}, inplace=True)
result = pd.merge(result, 
                  devices[['manufacturer', 'Model']],
                  left_on='device',
                  right_on='Model',
                  how='left')

result.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device,manufacturer,Model
0,21.97,4.82,1557.33,22787,android,GT-I9505,Samsung,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F,Samsung,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F,Samsung,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303,Sony,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F,Samsung,SM-G361F

In [70]:
devices[devices.Model == 'SM-G930F']

      Retail Branding Marketing Name   Device     Model
10381         Samsung      Galaxy S7  herolte  SM-G930F

In [59]:
devices[devices.Device.str.startswith('GT')]

      Retail Branding          Marketing Name     Device      Model
1095          Bitmore                 GTAB700    GTAB700   NID_7010
1096          Bitmore                 GTAB900    GTAB900       S952
2402          Grundig                 GTB1050    GTB1050   GTB 1050
2403          Grundig                  GTB850     GTB850    GTB 850
2404          Grundig                 TC69CA2     GTB801    GTB 801
9125          Samsung                     NaN  GT-I5510M  GT-I5510M
9126          Samsung                     NaN  GT-I5510T  GT-I5510T
9127          Samsung                     NaN  GT-I5800L  GT-I5800L
9128          Samsung                     NaN  GT-N7000B  GT-N7000B
9129          Samsung                     NaN  GT-P7300B  GT-P7300B
9130          Samsung                     NaN  GT-P7320T  GT-P7320T
9131          Samsung                     NaN  GT-P7500M  GT-P7500M
9132          Samsung                     NaN  GT-P7500R  GT-P7500R
9133          Samsung                     NaN  GT-P7500V  GT-P7500V
9134          Samsung                     NaN   GT-S5698   GT-S5698
9135          Samsung                     NaN   GT-S5820   GT-S5820
9136          Samsung                     NaN  GT-S5830V  GT-S5830V
9173          Samsung                Absolute   GT-B9120   GT-B9120
9184          Samsung                  Europa  GT-I5500B  GT-I5500B
9185          Samsung                  Europa  GT-I5500L  GT-I5500L
9186          Samsung                  Europa  GT-I5500M  GT-I5500M
9187          Samsung                  Europa  GT-I5503T  GT-I5503T
9188          Samsung                  Europa  GT-I5510L  GT-I5510L
9191          Samsung          Galaxy (China)   GT-B9062   GT-B9062
9288          Samsung              Galaxy Ace   GT-S5830   GT-S5830
9289          Samsung              Galaxy Ace  GT-S5830B  GT-S5830B
9290          Samsung              Galaxy Ace  GT-S5830C  GT-S5830C
9291          Samsung              Galaxy Ace  GT-S5830D  GT-S5830D
9292          Samsung              Galaxy Ace  GT-S5830F  GT-S5830F
9293          Samsung              Galaxy Ace  GT-S5830G  GT-S5830G
...               ...                     ...        ...        ...
10480         Samsung          Galaxy Tab 7.7   GT-P6800   GT-P6800
10481         Samsung          Galaxy Tab 7.7   GT-P6810   GT-P6810
10484         Samsung          Galaxy Tab 8.9   GT-P7300   GT-P7300
10485         Samsung          Galaxy Tab 8.9   GT-P7310   GT-P7310
10486         Samsung          Galaxy Tab 8.9   GT-P7320   GT-P7320
10778         Samsung                Galaxy W   GT-I8150   GT-I8150
10779         Samsung                Galaxy W  GT-I8150B  GT-I8150B
10780         Samsung                Galaxy W  GT-I8150T  GT-I8150T
10796         Samsung           Galaxy Xcover   GT-S5690   GT-S5690
10797         Samsung           Galaxy Xcover  GT-S5690L  GT-S5690L
10798         Samsung           Galaxy Xcover  GT-S5690M  GT-S5690M
10799         Samsung           Galaxy Xcover  GT-S5690R  GT-S5690R
10804         Samsung                Galaxy Y   GT-S5360   GT-S5360
10805         Samsung                Galaxy Y  GT-S5360B  GT-S5360B
10806         Samsung                Galaxy Y  GT-S5360L  GT-S5360L
10807         Samsung                Galaxy Y  GT-S5360T  GT-S5360T
10808         Samsung                Galaxy Y   GT-S5363   GT-S5363
10809         Samsung                Galaxy Y   GT-S5368   GT-S5368
10810         Samsung                Galaxy Y   GT-S5369   GT-S5369
10813         Samsung           Galaxy Y Duos   GT-S6102   GT-S6102
10814         Samsung           Galaxy Y Duos  GT-S6102B  GT-S6102B
10815         Samsung           Galaxy Y Duos  GT-S6102E  GT-S6102E
10818         Samsung            Galaxy Y Pop   GT-S6108   GT-S6108
10819         Samsung            Galaxy Y Pro   GT-B5510   GT-B5510
10820         Samsung            Galaxy Y Pro  GT-B5510B  GT-B5510B
10821         Samsung            Galaxy Y Pro  GT-B5510L  GT-B5510L
10822         Samsung       Galaxy Y Pro Duos   GT-B5512   GT-B5512
10823         Samsung       Galaxy Y Pro Duos  GT-B5512B  GT-B5512B
10824         Samsung             Galaxy Y TV   GT-S5367   GT-S5367
10979           Sharp  AQUOS SERIE mini SHV38        GTQ      SHV38

[164 rows x 4 columns]

## Calculating statistics on final result

With merges complete, we can simply calculate statistics for users grouped by the manufacturer of their device.

In [80]:
result.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device,manufacturer,Model
0,21.97,4.82,1557.33,22787,android,GT-I9505,Samsung,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F,Samsung,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F,Samsung,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303,Sony,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F,Samsung,SM-G361F

In [84]:
result.groupby("manufacturer").agg({
        "outgoing_mins_per_month": "mean",
        "outgoing_sms_per_month": "mean",
        "monthly_mb": "mean",
        "use_id": "count"
    })

,use_id,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb
manufacturer,,,,
HTC,44,299.842955,93.059318,5144.077955
Huawei,3,81.526667,9.500000,1561.226667
LGE,2,111.530000,12.760000,1557.330000
Lava,2,60.650000,261.900000,12458.670000
Lenovo,2,215.920000,12.930000,1557.330000
Motorola,16,95.127500,65.666250,3946.500000
OnePlus,6,354.855000,48.330000,6575.410000
Samsung,108,191.010093,92.390463,4017.318889
Sony,16,177.315625,40.176250,3212.000625
Vodafone,1,42.750000,46.830000,5191.120000
ZTE,1,42.750000,46.830000,5191.120000