# Data Structure: Pandas library

The dictionaries is an useful tool to arrangement data in order to access qickly and easily the information. Imagine this situation: the world bank wants to keep track of the population in each country. You can put this information in a list.

In [3]:
pop = [30.55, 2.77, 39.21]
print(pop)

[30.55, 2.77, 39.21]

to keep track about which population belongs to wich country. You need create a second list, with the names of the countries in the same order as the populations.

In [4]:
countries = ['afghanistan','albania','algeria']

Now, suppose that you want to get the population of Albania. First, you have to figure out where in the list Albania is, so that you can use this position to get the correct population.
With the method index(), you can get the position of specific objecte like the country that you are searching. Let's use it get the index of Albania in countries like this:

In [5]:
Id = countries.index('algeria')
print(' The algeria population is : {0} millions'.format(pop[Id]))

 The algeria population is : 39.21 millions

Then, we built two lists, and used the index to connect corresponding elements in both lists. But it is a terrible approach: It is not convenient and not intuitive. Here, the dictionaries comes into play, we should convert this population data to a dictionary, i included the lists to start from on the top here, so you can see what is gone one. Let's do it:

In [6]:
world = {'afganistan' : 30.55, 'albania' : 2.77, 'algeria' : 39.21}
pop_al = world['albania'] #here you have to pass the key of data that you want it
print()

this method optimize the computing resources so it is very faster than make it like a list. If you want know the keys that the dictionary have, you can use `'.keys()'` method.

In [7]:
world.keys()

dict_keys(['afganistan', 'albania', 'algeria'])

It is important to keep in mind, dictionary keys are inmutable objects. It means, they cannot be changed after the created. If you want create a new key in your dictionary, you can add the value calling the key that you want add. Also, you can check if the new key was add, putting the key in the dictionary.

In [8]:
world['sealand'] = 2 #add new key with a specific value to dictionary
'sealand' in world #return a boolean.
print('Was Sealand added? : {}'.format('sealand' in world))
print('The population in Sealand is : {} millions'.format(world['sealand']))

Was Sealand added? : True
The population in Sealand is : 2 millions

If you want update the Sealand population or whatever key. You just need call the key and add the new value.

In [9]:
world['sealand'] = 3 
print('The new population at sealand is : {} millions'.format(world['sealand'] ))

The new population at sealand is : 3 millions

To delete the specific keys, use `'del'` method

In [10]:
del(world['sealand'])
print('Is the sealand a country of the world dictionary? {}'.format('sealand' in world))

Is the sealand a country of the world dictionary? False

The dictionary, in the same way that lists, can contain anything type of value. For example, check the next code:

In [11]:
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }

print(europe.keys())

dict_keys(['spain', 'france', 'germany', 'norway'])

How you can see the dictionary contains value pairs where the values are again dictionaries. If you want access the value into the specific key, you can call of the next form:

In [12]:
pop_sp = europe['spain']['population']
cap_sp = europe['spain']['capital']
print('The population of spain is {} million'.format(pop_sp))
print('The capital city of spain is {}'.format(cap_sp))

The population of spain is 46.77 million
The capital city of spain is madrid

        Note: Now, you could aks yourself. When i should use dictionaries instead lists? Well, if you have collection values where the orders matters and you want to easily select entire subsets of data, you will want to go with a list. If, on the other hand, you need some sort of look up table, where looking for data should be fast and where you can specify unique keys, a dictionary is the preferred option.

If you need make a data's structure that have many diferents features and have diferents types of values, you should learn use Panda package. Panda is a high level data manipulation tool developed by Wes McKinney, built on the Numpy package. Compare to Numpy, it is more high level. In pandas, we store the tabular data like the brics table here in a so-called DataFrame. So, firts, you need import the pandas package. Now, you can create a DataFrame from the dictionary using `'.DataFrame()'` method.

In [13]:
import pandas as pd
data = {
    'country' : ['Brazil','Rusia','India','China','Soth Africa'],
    'capital' : ['brasilia', 'moscu', 'new delhi','beijing','pretoria'],
    'area'    : [8.516,17.10,3.286,9.597,1.221],
    'population' : [200.4,143.5,1252,1357,52.98]
}
pd.DataFrame(data)

       country    capital    area  population
0       Brazil   brasilia   8.516      200.40
1        Rusia      moscu  17.100      143.50
2        India  new delhi   3.286     1252.00
3        China    beijing   9.597     1357.00
4  Soth Africa   pretoria   1.221       52.98

The keys are column labels, and values are the corresponding columns, in list form. Also, the columns are the features and the rows is each observation or sample. If you want change the label of each sample, you can assign it whit `'.index'` method.

In [14]:
countries = pd.DataFrame(data)
countries.index = ['BR', 'RU', 'IN', 'CH', 'SA']
countries

        country    capital    area  population
BR       Brazil   brasilia   8.516      200.40
RU        Rusia      moscu  17.100      143.50
IN        India  new delhi   3.286     1252.00
CH        China    beijing   9.597     1357.00
SA  Soth Africa   pretoria   1.221       52.98

If you have a tons of data in a .csv format file. CSV is a short for comma separated values, by the way. Let's try import this data into Python using Pandas `'read_csv()'` funtion.

In [33]:
data = pd.read_csv("./Facebook_metrics/dataset_Facebook.csv", delimiter=";")
#where path is the file direction and index_col is the number of
#column that contains the names of each sample
data.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

       note: A CSV file (Comma Separated Values file) is a type of plain text file that uses specific structuring to arrange tabular data. Because it’s a plain text file, it can contain only actual text data—in other words, printable ASCII or Unicode characters.

now, to localise a information of a specific labels, you can use `'.loc()'` function. This allows get information of a specific labels and their features. For example, check the netx code:

In [16]:
countries.loc[['BR', 'IN']]#print the values corresponding to Brazi and India

   country    capital   area  population
BR  Brazil   brasilia  8.516       200.4
IN   India  new delhi  3.286      1252.0

In [17]:
countries.loc[['BR','IN'],['area','capital']]#print the area and capital of the two countries

     area    capital
BR  8.516   brasilia
IN  3.286  new delhi

In [18]:
countries.loc[:,['population','capital']] #print the population and capital to every country

    population    capital
BR      200.40   brasilia
RU      143.50      moscu
IN     1252.00  new delhi
CH     1357.00    beijing
SA       52.98   pretoria

In the other hand, if you don't have the name of label. You can use the correspond index. In this case, you need use `'.iloc()'` function. You will get the same results that the above function but you use the index as locator

In [19]:
countries.iloc[[0,2]]#print the values corresponding to Brazi and India

   country    capital   area  population
BR  Brazil   brasilia  8.516       200.4
IN   India  new delhi  3.286      1252.0

In [20]:
countries.iloc[[0,1],[2,1]]#print the area and capital of the two countries

      area   capital
BR   8.516  brasilia
RU  17.100     moscu

In [21]:
countries.iloc[:,[3,1]] #print the population and capital to every country

    population    capital
BR      200.40   brasilia
RU      143.50      moscu
IN     1252.00  new delhi
CH     1357.00    beijing
SA       52.98   pretoria